[Unit]
Description=Glance Images {{ item.local_path }}
After=network.target

[Mount]
What={{ item.server }}:{{ item.remote_path }}
Where={{ item.local_path }}
Type={{ item.type }}
Options={{ item.options | default('_netdev,auto') }}

[Install]
WantedBy=multi-user.target
