[Unit]
Description=Glance Images {{ item.local_path }}
Conflicts=umount.target
Requires=rpcbind.service rpc-statd.service
After=network.target rpcbind.service rpc-statd.service
Before=glance-api.service

[Mount]
What={{ item.server }}:{{ item.remote_path }}
Where={{ item.local_path }}
Type={{ item.type }}
Options={{ item.options | default('_netdev,auto') }}

[Install]
WantedBy=multi-user.target
