[uwsgi]
uid = {{ glance_system_user_name }}
gid = {{ glance_system_group_name }}

{% if glance_install_method == 'source' %}
virtualenv = /openstack/venvs/glance-{{ glance_venv_tag }}
{% endif %}
wsgi-file = {{ glance_bin }}/{{ item.wsgi_name }}
http-socket = {{ item.uwsgi_bind_address }}:{{ item.uwsgi_port }}

master = true
enable-threads = true
processes = {{ glance_wsgi_processes }}
threads = {{ glance_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ glance_wsgi_buffer_size }}
thunder-lock = true
logfile-chmod = 644
http-auto-chunked = true
http-raw-body = true
socket-timeout = 10

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:
